params{
    assembly_min_len            = 10000
    hmm_file                    = "${projectDir}/assets/hmms/integrases/integrases.hmm"
    hmmsearch_args              = "-Z 1 -E 1e-5"
    // Read download options
    prefetch_args               = "--max-size u"
    fasterq_dump_args           = "--split-files"
    // Read preprocessing options
    fastp_args                  = "--reads_to_process 100000"
    // Assembly QC options
    assembly_min_len            = 1000
    // mVIRs options
    mvirs_oprs_args             = ""
    mvirs_parser_args           = ""
}

process {
    withName: 'PIPELINES_MVIRSATB' {
        ext.prefix = { "${meta.id}_${meta.run}" }
    }
}
