process {
    withName: 'PIPELINES_MVIRSATB' {
        ext.prefix              = { "${meta.id}_${meta.run}" }
        ext.assembly_min_len    = 10000
        ext.hmmsearch_args      = "-Z 1 -E 1e-5"
        ext.prefetch_args       = "--max-size u"
        ext.fasterq_dump_args   = "--split-files"
        ext.fastp_args          = ""
        ext.mvirs_oprs_args     = ""
        ext.mvirs_parser_args   = ""
    }
}
