params {
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    cpus = 4
    memory = 15.GB
    time = 2.h

    withName: BOWTIE2_ALIGN {
        cpus = 1
    }

    withName: COBRAMETA {
        cpus = 1
    }

    withName: 'COVERM_CONTIG.*' {
        cpus = 1
    }

    withName: SEQKIT_FX2TAB_COBRA {
        cpus = 1
        ext.args = "--header-line --name"
        ext.suffix = "txt"
    }

    withName: SEQKIT_SEQ_COBRA {
        cpus = 1
        ext.args = "--min-len 10000"
    }

    withName: FASTP {
        cpus = 2
    }

    withName: GENOMAD_ENDTOEND {
        ext.args = "--splits 5"
    }

    withName: 'MEGAHIT.*' {
        cpus = 1
    }

    withName: PYRODIGALGV {
        cpus = 1
    }

    withName: 'SEQKIT_.*' {
        cpus = 1
    }

    withName: 'VCLUST_.*' {
        cpus = 1
    }
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
    mamba {
        conda.enabled  = true
        conda.useMamba = true
    }
    podman {
        podman.enabled = true
        podman.userEmulation = true
        podman.runOptions = "--runtime crun --platform linux/x86_64 --systemd=always"
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    docker_self_hosted {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '--platform=linux/amd64'
    }
    uw_hyak { includeConfig "${projectDir}/assets/configs/conf/uw_hyak.config"  }
}

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

nextflow.enable.moduleBinaries = true

manifest {
    nextflowVersion = '!>=23.04.0'
}
